<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body hidden>
    <div v-if="data.name.length > 3">
      <h1>hello</h1>
    </div>
    <div v-if="false">
      <h1>world</h1>
    </div>
    <div v-for="aa in list">
      <input :value="data.name" :placeholder="data.name" @input="inputChange" />
    </div>

    <button @click="inputDel">pop list</button>
    <div>{{300/2}}</div>
    <ul>
      <li v-for="v in list">{{v}}</li>
    </ul>
    <!-- <div>
      <div v-for="a in list">
        <div v-for="b in list">{{a + '/' + b}}</div>
      </div>
    </div> -->
    <script type="module" src="lib/index.ts"></script>
    <script>
      this.data = {
        name: "sss",
      };
      this.list = ["aa", "bb", "cc"];
      this.inputChange = (e) => {
        this.data.name = e.target.value;
        this.list = [];
        for (let i = 0; i < this.data.name.length; i++) {
          this.list.push(i);
        }
      };
      this.inputDel = () => {
        this.list.pop();
      };
    </script>
  </body>
</html>
