<template component="component_navbar">
  <div css="h-2xl bg-white row start-center pl-md shadow shadow-opacity-5 sans sticky z-10 left-0 top-0"">
    <img css="w-xl h-xl" set-src="$hook.props.logo" />
    <span css="px-sm fs-2xl fw-200 c-red-900" text>$hook.props.name</span>
    <span css="flex-1"></span>
    <for list="$hook.props.list">
      <span
        css="{'text-decoration-none h-12/12 px-md cursor-pointer hover:bg-blue-200 col center-center fw-300':1, 'fw-500':$hook.props.title === $v.title}"
        on-click="window.location.href = $v.url"
      >
        <span text>$v.title</span>
      </span>
    </for>
  </div>
</template>
